@model ServiceLocator.Models.CustomerPageViewModel

<div class="container-fluid" style="width: 100%;">
    <div class="row">
        <h1 style="font-weight: bold; height: 50px;" class="bord col-11">Service Locator</h1>
        <div class="phases col-1">
            <div class="row align-items-center">
                <div class="col-auto" style="padding: 5px; margin-left:20px;">
                    <img src="~/images/notification.png" class="logo" />
                </div>
                <div class="col-auto">
                    <a asp-action="Notifications" class="notification-link" style="cursor: pointer;">@ViewBag.NotificationCount</a>
                </div>
            </div>
        </div>
    </div>

    <!-- FILTERS -->
    <div class="row" style="display: flex; gap: 1rem; margin-top: 10px;">
        <div class="text-center phases col-1" style="font-size: 30px;">Filters:</div>
        <div class="text-center color col-1" style="font-size: 30px;">Zip Code:</div>
        <input class="col-2" value="@ViewData["zip"]" disabled />
        <div class="text-center color col-1" style="font-size: 30px;">Radius:</div>
        <input class="col-2" placeholder="N/A" disabled />
    </div>

    <div class="horizontal-line"></div>

    <h2 style="color: white;">Customers Seeking Your Service</h2>

    <!-- LEFT PANEL -->
<div class="output-container col-3">
    @if (Model?.CustomerList != null && Model.CustomerList.Count > 0)
    {
        foreach (var customer in Model.CustomerList)
        {
            
            <div class="output-item white container"
                 data-name="@customer.Name"
                 data-email="@customer.Email"
                 data-description="@customer.Description"
                 data-zipcode="@customer.Zipcode"
                 data-service="@customer.Whatservice"
                 data-customer-id="@customer.Id">

                <div class="container">
                    <div class="row">
                        <h3 class="itemname white">@customer.Name</h3>
                    </div>
                    <div class="row">
                        <h3 class="professionName white">@customer.Whatservice</h3>
                    </div>
                    <div class="row">
                        <p class="col-auto describe-zipcode white">
                            Zip: @customer.Zipcode
                        </p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="white">No customers currently requesting your service.</p>
    }
</div>

    <!-- RIGHT PANEL -->
    <div id="describe-container" class="describe-container col-6"></div>

    <a asp-action="Index" class="btn btn-primary">Homepage</a>
</div>

<script src="~/js/providerpage.js"></script>

